input,
select,
textarea {
    outline: none;
}
.subtit {
    padding: 12px 4px 2px 4px;
    color: #999;
    font-weight: bold;
    clear: both;
}
.radioBox {
    margin-top: 6px;
}
.radioBox input {
    float: left;
    margin-top: -3px;
}
.radioBox label {
    float: left;
    padding: 0px 24px 0px 2px;
    margin-top: -4px;
    margin-top: 0px \9;
}
.channel input,
.channel label {
    margin-bottom: 10px;
}
.radioBox2 {
    float: left;
}
.radioBox2 label {
    padding-right: 10px;
}
.subtit {
    margin: 6px 0px;
    border-bottom-color: #f0f0f0;
}
input.btngray {
    background-color: #ccc;
    color: #000;
    margin-left: 4px;
}
#mytag {
    position: absolute;
    overflow: auto;
    border: solid 1px #ccc;
    border-bottom-color: #999;
    border-right-color: #777;
    background-color: #f9f9f9;
}
.right {
    text-align: right;
}
#mytag p.bot {
    text-align: right;
    padding: 10px 6px 4px 0px;
}
#tagbox {
    padding-right: 10px;
}
#tagtb {
    float: left;
}
#tagtb td {
    width: 130px;
    padding-bottom: 4px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}
#tagall {
    float: left;
    margin-top: 6px;
}
#tag2box {
    width: 561px;
    border: solid 1px #ffcccc;
    border-radius: 4px;
    padding: 10px;
    margin-top: 1px;
}
#tag2box a {
    float: left;
    display: block;
    cursor: pointer;
    border: solid 1px #ccc;
    border-radius: 5px;
    padding: 4px 6px;
    margin: 0 10px 10px 0;
}
#tag2box a:hover {
    text-decoration: none;
    background-color: #eee;
}
#tag2box a.act {
    background-color: #ffffcc;
}
#tag2box th {
    width: 80px;
    font-weight: normal;
    vertical-align: top;
    padding-top: 4px;
}
#d_tag2 {
    position: absolute;
    z-index: 101;
    float: left;
    left: 4px;
    top: 2px;
}
#d_tag2 span {
    cursor: default;
    display: inline-block;
    border: solid 1px #ccc;
    background-color: #ffffcc;
    border-radius: 5px;
    padding: 2px 4px;
    margin-right: 4px;
}
#autosave_note {
    font-size: 12px;
    padding-left: 20px;
    color: Green;
    font-weight: normal;
}
div.title-box {
    margin-bottom: 24px;
}
div.dro-box {
    position: relative;
}
div.dro-box::after {
    content: "";
    position: absolute;
    top: 50%;
    right: 16px;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
    width: 0;
    height: 0;
    border-left: 4px solid transparent;
    border-right: 4px solid transparent;
    border-top: 5.3px solid #999;
}
#selType {
    width: 90px;
    height: 40px;
    margin-right: 8px;
    background-color: #efefef;
    border: none;
    color: #4f4f4f;
    box-sizing: border-box;
    font-size: 16px;
    padding: 8px 0 8px 16px;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border-radius: 0px;
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
}
#txtTitle {
    display: block;
    width: 100%;
    height: 40px;
    line-height: 40px;
    box-sizing: border-box;
    padding: 0 16px;
    border: none;
    background-color: #efefef;
    color: #4f4f4f;
}
#txtTitle {
    display: block;
    width: 100%;
    height: 40px;
    line-height: 40px;
    box-sizing: border-box;
    padding: 0 16px;
    border: none;
    background-color: #efefef;
    color: #4f4f4f;
}

.btn_area_1 {
    padding-top: 32px;
    text-align: left;
}
#top_note {
    width: 500px;
    position: absolute;
    z-index: 100;
    top: 180px;
    left: 50%;
    margin-left: -250px;
    padding: 10px;
    text-align: center;
    border: solid 1px #ffcc00;
    background-color: #ffffcc;
    font-size: 14px;
    color: #663300;
    letter-spacing: 3px;
}
.savenote {
    border: solid 1px #ffcc00;
    background-color: #ffffcc;
    text-align: left;
    padding: 6px 12px;
}
#moreDiv {
    margin-top: 24px;
}
#moreDiv div.fullscreen {
    display: none;
}
#moreDiv p.mt8 {
    margin-bottom: 0;
}
#moreDiv div.categorie-list {
    margin-top: 16px;
    padding: 8px 8px 0 16px;
    width: 480px;
    max-height: 200px;
    background: #FAFAFA;
    border: 1px solid #DDDDDD;
    overflow-x: hidden;
    overflow-y: auto;
}
#moreDiv div.categorie-list div.form-check {
    float: left;
    height: 21px;
    line-height: 21px;
    width: 200px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    margin: 0 16px 8px 0;
}
#moreDiv div.categorie-list i.lab-chk-icon {
    vertical-align: 1px;
}
#moreDiv div.categorie-list span.spanIsAgree {
    font-size: 14px;
}
.ml-24 {
    margin-left: 24px;
}
label.labTitle {
    margin-right: 8px;
    width: 72px;
}
select.droBlogType {
    width: 180px;
    height: 32px;
    line-height: 32px;
    border: 1px solid #ddd;
    border-radius: 4px;
    background-color: #f4f4f4;
    box-sizing: border-box;
    padding-left: 16px;
}
button.btn-add-tag {
    display: block;
    padding: 0;
    background-color: transparent;
    border: none;
    color: #349EDF;
    font-size: 14px;
    outline: none;
    line-height: 30px;
}
button.btn-add-tag:focus {
    outline: none;
}
button#addTag[disabled] {
    border: none !important;
    display: none !important;
}
.mr8 {
    margin-right: 8px;
}
.mt8 {
    margin-top: 8px;
}
.pt6 {
    padding-top: 6px;
}
.pt3 {
    padding-top: 3px;
}
div.txt-box span.ipt-remark {
    margin: 0;
    font-size: 12px;
    color: #999999;
}
/*fullscreen begin*/
html {
    height: 100%;
}
body.ed_fullscreen {
    background: #cdcdcd;
    height: 100%;
}
body.ed_fullscreen header {
    display: none;
}
body.ed_fullscreen main.container {
    margin: 0 auto;
    border: none;
    box-shadow: none;
    width: 858px;
    min-width: unset;
    height: 100%;
}
body.ed_fullscreen main.container div.main-wrapper {
    height: 100%;
}
body.ed_fullscreen main.container #sidebar {
    display: none;
}
body.ed_fullscreen main.container div.section {
    height: 100%;
}
body.ed_fullscreen .xhe_fashion iframe {
    background-color: #f8f8f8 !important;
}
body.ed_fullscreen main.container #content-body {
    padding: 1.5rem 0 0;
    -webkit-box-flex: 0;
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
    max-width: 100%;
    background-color: transparent;
    min-width: unset;
}
body.ed_fullscreen main.container #content-body div.title-box #selType,
body.ed_fullscreen main.container #content-body div.title-box #txtTitle {
    background-color: #f8f8f8;
}
body.ed_fullscreen main.container #content-body .xhe_fashion table.xheLayout {
    width: 100% !important;
    height: 100% !important;
    border: none;
    padding-top: 88px;
}
body.ed_fullscreen main.container .xhe_fashion .xheIframeArea {
    height: 100% !important;
}
body.ed_fullscreen main.container #moreDiv {
    display: none;
    position: fixed;
    width: 615px;
    max-height: 550px;
    border: 1px solid #ddd;
    top: 40%;
    left: 50%;
    -webkit-transform: translate3d(-50%, -50%, 0);
    transform: translate3d(-50%, -50%, 0);
    background-color: #fff;
    padding: 24px;
    z-index: 130;
    overflow-x: hidden;
    overflow-y: auto;
}
body.ed_fullscreen main.container #moreDiv div.unfull {
    display: none;
}
body.ed_fullscreen main.container #moreDiv div.fullscreen {
    display: block;
}
body.ed_fullscreen main.container #moreDiv div.pos-box {
    position: relative;
}
body.ed_fullscreen main.container #moreDiv a.btn-close {
    position: absolute;
    right: 0;
    top: 0;
    font-size: 12px;
    color: #ddd;
    cursor: pointer;
}
body.ed_fullscreen main.container #moreDiv a.btn-close i {
    font-size: 12px;
}
body.ed_fullscreen main.container #moreDiv div.title {
    margin-bottom: 8px;
    font-size: 18px;
}
body.ed_fullscreen main.container #moreDiv div.opt-box button {
    padding: 0;
    background-color: transparent;
}
body.ed_fullscreen main.container #moreDiv div.tag-box {
    width: 480px;
}
body.ed_fullscreen main.container .xhe_fashion td.xheTool {
    background-color: #f8f8f8;
    border-bottom: 1px solid #cdcdcd;
}
/*fullscreen end*/
/*fullscreen button style begin*/
div.suspension-edit-box {
    position: fixed;
    bottom: 0;
    left: 50%;
    padding-bottom: 16px;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
}
div.suspension-edit-box button.btn {
    padding: 0;
    margin-right: 16px;
    display: block;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    font-size: 16px;
    text-align: center;
    color: #fff;
    background-color: #C92027;
    cursor: pointer;
    -webkit-transform: translateY(100%);
    transition: -webkit-transform 0.1s ease-in-out;
    transition: transform 0.1s ease-in-out;
    transition: transform 0.1s ease-in-out, -webkit-transform 0.1s ease-in-out;
}
div.suspension-edit-box:hover button {
    -webkit-transform: translateY(0);
    transform: translateY(0);
}
div.suspension-edit-box button.btn.btn-baocun {
    transition-delay: .1s;
}
div.suspension-edit-box button.btn.btn-shanchu {
    transition-delay: .2s;
    background-color: #ddd;
}
div.suspension-edit-box button.btn.btn-shanchu:hover {
    background-color: #4F4F4F;
}
/*fullscreen button style end*/
div.alert-container.finished-box {
    display: none;
    position: fixed;
    border: none;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: #f4f4f4;
    width: auto;
    -webkit-transform: unset;
    transform: unset;
    height: auto;
    z-index: 10;
}
div.alert-container.finished-box .pos-box {
    padding: 40px;
    position: fixed;
    background: #fff;
    left: 50%;
    top: 40%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    width: 600px;
    margin: 0 auto;
    z-index: 100;
}
div.alert-container.finished-box .pos-box .status-box {
    padding-bottom: 24px;
    font-size: 28px;
    color: #4f4f4f;
    letter-spacing: 0;
    line-height: 24px;
}
div.alert-container.finished-box .pos-box .zhaiyao {
    font-size: 16px;
    color: #999999;
    padding-bottom: 40px;
}
div.alert-container.finished-box .pos-box .status-box i {
    display: inline-block;
    width: 28px;
    height: 28px;
    margin-right: 8px;
    background-image: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBzdGFuZGFsb25lPSJubyI/PjwhRE9DVFlQRSBzdmcgUFVCTElDICItLy9XM0MvL0RURCBTVkcgMS4xLy9FTiIgImh0dHA6Ly93d3cudzMub3JnL0dyYXBoaWNzL1NWRy8xLjEvRFREL3N2ZzExLmR0ZCI+PHN2ZyB0PSIxNTEzNzQwOTAxMDkyIiBjbGFzcz0iaWNvbiIgc3R5bGU9IiIgdmlld0JveD0iMCAwIDEwMjQgMTAyNCIgdmVyc2lvbj0iMS4xIiB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHAtaWQ9IjQ5MTAiIHhtbG5zOnhsaW5rPSJodHRwOi8vd3d3LnczLm9yZy8xOTk5L3hsaW5rIiB3aWR0aD0iMTQiIGhlaWdodD0iMTQiPjxkZWZzPjxzdHlsZSB0eXBlPSJ0ZXh0L2NzcyI+PC9zdHlsZT48L2RlZnM+PHBhdGggZD0iTTUxMiAwQzIyOC44IDAgMCAyMjguOCAwIDUxMnMyMjguOCA1MTIgNTEyIDUxMiA1MTItMjI4LjggNTEyLTUxMlM3OTUuMiAwIDUxMiAweiBtMjQ0LjggMzkyTDQ2Ny4yIDY5MS4yYy04IDkuNi0yNCAxMi44LTM2LjggMTIuOC0xMi44IDAtMjcuMi0zLjItMzYuOC0xMi44TDI2Ny4yIDU2MGMtMTYtMTYtMTYtNDMuMiAwLTU5LjJzNDEuNi0xNiA1Ny42IDBsMTA1LjYgMTEwLjQgMjY3LjItMjc4LjRjMTYtMTYgNDEuNi0xNiA1Ny42IDBzMTYgNDMuMiAxLjYgNTkuMnoiIHAtaWQ9IjQ5MTEiIGZpbGw9IiM3ZWQzMjEiPjwvcGF0aD48L3N2Zz4=');
    background-size: cover;
    background-repeat: no-repeat;
    vertical-align: -4px;
}
div.alert-container.finished-box .pos-box .title {
    padding-bottom: 40px;
    font-size: 20px;
    color: #4f4f4f;
    letter-spacing: 0;
    line-height: 30px;
    margin: 0;
    word-break: break-all;
    word-wrap: break-word;
}
div.alert-container.finished-box div.opt-box .btn {
    margin-right: 20px;
    padding: 0;
    width: 96px;
    height: 40px;
    line-height: 40px;
    border-radius: 4px;
    font-size: 16px;
    text-align: center;
    color: #dc3545;
    transition: unset;
}
div.alert-container.finished-box div.opt-box .btn:last-child {
    margin-right: 0;
}
div.alert-container.finished-box div.opt-box .btn:hover {
    color: #fff;
}
.btn-outline-danger.focus,
.btn-outline-danger:focus {
    box-shadow: none;
}
input[type='button'].btn-smail,
a.btn-smail,
button.btn-smail {
    font-size: 12px;
    line-height: 18px;
    border: none;
    background-color: #fff;
}
input[type='button'].btn-smail.c-blue,
a.btn-smail.c-blue,
button.btn-smail.c-blue {
    color: #349edf;
}
input[type='button'].btn-smail.c-red,
a.btn-smail.c-red,
button.btn-smail.c-red {
    color: #c92027;
}
main div.suspension-edit-box button:hover span.txt,
main div.suspension-edit-box a:hover span.txt {
    display: inline;
}
main div.suspension-edit-box button:hover i,
main div.suspension-edit-box a:hover i {
    display: none;
}
main div.suspension-edit-box button span.txt,
main div.suspension-edit-box a span.txt {
    display: none;
    font-size: 12px;
    color: #fff;
}
/*alertmodal begin*/
div.alert-mask {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 120;
    background-color: rgba(211, 211, 211, 0.7);
}
div.alert-container {
    position: fixed;
    top: 50%;
    left: 50%;
    -webkit-transform: translate3d(-50%, -50%, 0);
    transform: translate3d(-50%, -50%, 0);
    width: 400px;
    height: 175px;
    padding: 24px;
    z-index: 121;
    background-color: #fff;
    border: 1px solid #DDDDDD;
    border-radius: 4px;
}
div.alert-container div.pos-box {
    position: relative;
}
div.alert-container a.btn-close {
    position: absolute;
    right: 0;
    top: 0;
    font-size: 12px;
    color: #ddd;
    cursor: pointer;
}
div.alert-container a.btn-close i {
    font-size: 12px;
}
div.alert-container div.title {
    margin-bottom: 16px;
    font-size: 18px;
}
div.alert-container div.title.title-warning {
    color: #C92027;
}
div.alert-container div.content {
    margin-bottom: 24px;
    font-size: 14px;
    line-height: 21px;
}
div.alert-container div.opt-box {
    text-align: right;
}
div.alert-container div.opt-box .btn {
    padding: 0;
    font-size: 12px;
    transition: color 0.3s ease-in;
}
div.alert-container div.opt-box .btn:hover {
    text-decoration: none;
}
div.alert-container div.opt-box .btn.btn-confirm {
    margin-right: 12px;
    color: #349EDF;
}
div.alert-container div.opt-box .btn.btn-confirm:hover {
    color: #1780BF;
}
div.alert-container div.opt-box .btn.btn-cancel {
    color: #B50C13;
}
div.alert-container div.opt-box .btn.btn-cancel:hover {
    color: #C92027;
}
/*alertmodal end*/

/*# sourceMappingURL=data:application/json;charset=utf-8;base64,eyJ2ZXJzaW9uIjozLCJzb3VyY2VzIjpbXSwibmFtZXMiOltdLCJtYXBwaW5ncyI6IiIsImZpbGUiOiJlZGl0b3IuNjlkOWU3NS5jc3MiLCJzb3VyY2VSb290IjoiIn0=*/
