<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lzkydh.mapper.CollectMapper">

    <insert id="addCollectByUserIdAndRecipeId">
        insert into collection(user_id,recipe_id)
        value(#{userId},#{recipeId})
    </insert>

    <delete id="deleteCollectByUserIdAndRecipeId">
        delete from collection
        where user_id = #{userId} and recipe_id = #{recipeId}
    </delete>

    <select id="queryRecipeByUserId" resultType="Recipe">
        select
            r.recipe_id,
            r.user_id,
            r.recipe_name,
            r.pic_url,
            r.material,
            r.profile,
            u.user_id "user.user_id",
            u.username "user.username"
        from collection c
        inner join recipe r
        on c.recipe_id = r.recipe_id
        inner join user u
        on r.user_id = u.user_id
        where c.user_id = #{userId}
    </select>
</mapper>